<!doctype html>
<html lang="en" data-theme="dark" class="scheme-light dark:scheme-dark">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/dist/output.css" rel="stylesheet" />
    <title>{% block title %} {% endblock %}</title>
  </head>

  <body>
    <div
      class="flex h-screen flex-col bg-white bg-cover bg-center fill-zinc-800 text-zinc-800 select-none dark:bg-black dark:fill-white dark:text-white"
    >
      <div class="relative flex min-h-0 flex-1 flex-col">
        <!-- COMPONENT: Navigation bar -->
        {% if navigation_bar %}
          {% include "components/navigation-bar.html" %}
        {% endif %}

        <!-- COMPONENT: Content -->
        {% block content %} {% endblock %}
      </div>

      <!-- COMPONENT: Settings overlay -->
      {% if settings_overlay %}
      <div
        id="settings-overlay"
        class="pointer-events-none fixed inset-0 z-40 flex h-full w-full items-center justify-center bg-white/30 opacity-0 backdrop-blur-sm transition-opacity duration-200 ease-in-out dark:bg-zinc-900/30"
      >
        <div
          class="h-full w-full max-w-prose bg-white p-6 shadow-2xl shadow-black/50 dark:bg-zinc-900"
        >
          <div class="flex items-start">
            <h1 class="mb-4 flex-1 text-3xl font-bold">Settings</h1>

            <!-- Close button -->
            <div>
              <button
                id="close-settings-menu-button"
                class="rounded-md p-1 leading-none outline-0 hover:bg-zinc-100 hover:outline-1 hover:outline-zinc-900 dark:hover:bg-zinc-900 dark:hover:outline-zinc-500"
              >
                <svg class="size-7" viewBox="0 0 24 24">
                  <!-- Icon from Google Material Icons by Material Design Authors - https://github.com/material-icons/material-icons/blob/master/LICENSE -->
                  <path
                    d="M6.4 19L5 17.6l5.6-5.6L5 6.4L6.4 5l5.6 5.6L17.6 5L19 6.4L13.4 12l5.6 5.6l-1.4 1.4l-5.6-5.6z"
                  />
                </svg>
              </button>
            </div>
          </div>

          <!-- General settings -->
          <div class="mb-4 flex flex-col gap-2">
            <h2 class="text-lg font-bold">General</h2>

            <label class="flex">
              <span class="flex-1">Time zone</span>
              <select name="time-zone" class="flex-1">
                <option value="">UTC</option>
                <option value="">NZT</option>
              </select>
            </label>
          </div>

          <!-- Accessibility settings -->
          <div class="mb-4 flex flex-col gap-2">
            <div class="flex items-center gap-2">
              <h2 class="text-lg font-bold">Accessibility</h2>

              <svg class="size-6" viewBox="0 0 24 24">
                <!-- Icon from Google Material Icons by Material Design Authors - https://github.com/material-icons/material-icons/blob/master/LICENSE -->
                <path
                  d="M10.588 5.413Q10 4.825 10 4t.588-1.412T12 2t1.413.588T14 4t-.587 1.413T12 6t-1.412-.587M9 21V9q-1.225-.1-2.475-.275t-2.45-.45q-.425-.1-.687-.475T3.25 7t.525-.625t.85-.1q1.75.375 3.638.55T12 7t3.738-.175t3.637-.55q.45-.1.85.1T20.75 7t-.137.8t-.688.475q-1.2.275-2.45.45T15 9v12q0 .425-.287.713T14 22t-.712-.288T13 21v-5h-2v5q0 .425-.288.713T10 22t-.712-.288T9 21"
                />
              </svg>
            </div>

            <!-- Font selection -->
            <label class="flex">
              <span class="flex-1">Font</span>
              <select name="font" class="flex-1">
                <option value="">Default</option>
                <option value="">OpenDyslexic</option>
              </select>
            </label>

            <!-- Text size -->
            <label class="flex">
              <span class="flex-1">Text size</span>
              <select name="text-size" class="flex-1">
                <option value="">Default</option>
                <option value="">Larger</option>
              </select>
            </label>

            <!-- Object marker size -->
            <label class="flex">
              <span class="flex-1">Object marker size</span>
              <select name="" class="flex-1">
                <option value="">Default</option>
                <option value="">Larger</option>
              </select>
            </label>

            <!-- Orbit lines -->
            <label class="flex">
              <span class="flex-1">Orbit lines</span>
              <select name="" class="flex-1">
                <option value="">Differentiate by colour</option>
                <option value="">Differentiate by stroke</option>
              </select>
            </label>
          </div>
        </div>
      </div>
    </div>
    {% endif %}

    <!--
    Import map for Three.js generated with JSPM Generator. See https://threejs.org/manual/#en/installation
    Edit here: https://generator.jspm.io/#U2VhYGBkDM0rySzJSU1hKMkoSk11MNAztDDVMwQALPhzdxwA
  	-->
    <script type="importmap">
      {
        "imports": {
          "three": "https://ga.jspm.io/npm:three@0.185.1/build/three.module.js",
          "three/addons/": "https://cdn.jsdelivr.net/npm/three@0.185.1/examples/jsm/"
        }
      }
    </script>

    <!-- COMPONENT: Scripts block -->
    {% block scripts %} {% endblock %}
  </body>
</html>
