{% from "components/logo.html" import logo %}
{% extends "base.html" %}

<!-- Page title -->
{% block title %}Home{% endblock %}
{% block content %}
  <!-- Main OPIS logo -->
  <div class="mt-12 flex w-55 self-center pt-0.5">
    {% include "components/logo.html" %}
  </div>

  <!-- Available systems -->
  <div class="mx-auto mt-18 w-fit">
    <p class="mb-7 text-center">Select a simulation</p>
    <div
      class="grid grid-cols-1 justify-items-center gap-6 sm:grid-cols-2 lg:grid-cols-3"
    >
      {% for system in systems %}
        <a
          id="{{ system.name }}"
          class="system-path-button control bordered-light clickable shadowed flex h-35 w-55 grid-flow-col flex-col items-center justify-center gap-2 font-semibold"
          href="/simulation/{{ system.name }}"
        >
          {{ system.name }}
        </a>
      {% endfor %}
    </div>
  </div>
{% endblock %}

<!-- Scripts block -->
{% block scripts %}
  <script
    type="module"
    src="/src/events/triggers/sharedTriggers.js"
    defer
  ></script>
  <script
    type="module"
    src="/src/events/triggers/settingsTriggers.js"
    defer
  ></script>
  <script
    type="module"
    src="/src/controllers/settingsController.js"
    defer
  ></script>
  <script
    type="module"
    src="/src/events/triggers/homeTriggers.js"
    defer
  ></script>
  <script type="module" src="/src/ui/toolbar.js" defer></script>
{% endblock %}
