{% extends "base.html" %}

<!-- Page title -->
{% block title %}
  Home
{% endblock %}

<!-- Available systems -->
{% block content %}
<div class="mx-auto mt-18 w-fit">
  <p class="mb-7 text-center">Select a simulation...</p>
  <div
    class="grid grid-cols-1 justify-items-center gap-6 sm:grid-cols-2 lg:grid-cols-3"
  >
    {% for system in systems %}
    <a
      id="{{ system.name }}"
      class="system-path-button flex h-35 w-55 flex-col items-center justify-center gap-2 rounded-md bg-white font-semibold outline-1 hover:bg-zinc-100 active:bg-zinc-200 dark:bg-black dark:outline-zinc-500 dark:hover:bg-zinc-900 dark:active:bg-zinc-700"
      href="/simulation/{{ system.name }}"
    >
      {{ system.name }}
    </a>
    {% endfor %}
  </div>
</div>
{% endblock %}

<!-- Scripts block -->
{% block scripts %}
  <script type="module" src="/src/events/triggers/sharedTriggers.js" defer></script>
  <script type="module" src="/src/events/triggers/homeTriggers.js" defer></script>
  <script src="/src/ui/script.js" defer></script>
{% endblock %}
