{% extends "base.html" %}

<!-- Page title -->
{% block title %}
  Home
{% endblock %}

<!-- Available systems -->
{% block content %}
  {% for system in systems %}
    <a
      id="{{ system.name }}"
      class="system-path-button"
      href="/simulation/{{ system.name }}"
    >
      {{ system.name }}
    </a>
  {% endfor %}
{% endblock %}

<!-- Scripts block -->
{% block scripts %}
  <script
    type="module"
    src="/src/events/triggers/sharedTriggers.js"
    defer
  ></script>
  <script
    type="module"
    src="/src/events/triggers/settingsTriggers.js"
    defer
  ></script>
  <script
    type="module"
    src="/src/shared/settingsManager.js"
    defer
  ></script>
  <script
    type="module"
    src="/src/ui/settings.js"
    defer
  ></script>
  <script
    type="module"
    src="/src/events/triggers/homeTriggers.js"
    defer
  ></script>
  <script 
    type="module" 
    src="/src/ui/toolbar.js" 
    defer
  ></script>
{% endblock %}
