@import "tailwindcss";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }

  button:not([disabled]),
  [role="button"]:not([disabled]) {
    cursor: pointer;
  }
}

@layer base {
  body,
  div,
  header,
  nav,
  footer,
  p,
  h1,
  h2,
  h3,
  svg,
  span {
    @apply transition-colors duration-200 ease-in-out;
  }
}

@layer base {
  select {
    @apply rounded-md bg-white outline-1 outline-zinc-900 dark:bg-zinc-900 dark:outline-zinc-500;
  }
}
