@import "tailwindcss";

@font-face {
  font-family: "OpenDyslexic";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/src/fonts/OpenDyslexic-Regular.woff2) format("woff2");
}

@theme {
  --font-accessible: "OpenDyslexic";
}

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@theme {
  --color-primary: var(--color-zinc-700);
  --color-secondary: var(--color-zinc-500);
  --color-accent: rgb(64.2% 61.8% 100%);
}

@layer theme {
  :root,
  :host {
    @variant dark {
      --color-primary: var(--color-purple-100);
      --color-secondary: oklch(94.6% 0.033 307.174 / 0.6); /* purple-100/60 */
      --color-accent: rgb(57.6% 55.6% 90.2%);
    }
  }
}

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }

  button:not([disabled]),
  [role="button"]:not([disabled]) {
    cursor: pointer;
  }
}

@layer components {
  .control {
    @apply z-10 min-h-9 rounded-md bg-white p-1 dark:bg-zinc-950;
  }

  .control-no-background {
    @apply z-10 min-h-9 rounded-md p-1;
  }

  .bordered {
    @apply border border-black/50 dark:border-white/30;
  }

  .bordered-light {
    @apply border border-black/10 dark:border-white/10;
  }

  .clickable {
    @apply hover:bg-zinc-100 active:bg-zinc-100 active:inset-shadow-sm dark:hover:bg-zinc-900 dark:active:bg-zinc-700;
  }

  .container {
    @apply z-10 rounded-xl bg-white/60 p-1 backdrop-blur-md dark:bg-zinc-950/60;
  }

  .shadowed {
    @apply p-1 shadow-2xl/50 shadow-black/50 dark:shadow-purple-300/30;
  }

  :where([data-theme="dark"]) {
    .flatpickr-calendar {
      background-color: var(--color-zinc-900) !important;
    }

    .flatpickr-weekdays,
    span.flatpickr-weekday,
    .flatpickr-next-month,
    .flatpickr-prev-month,
    .flatpickr-month,
    .flatpickr-current-month,
    .flatpickr-monthDropdown-months,
    .flatpickr-monthDropdown-month,
    .flatpickr-current-month input.cur-year {
      background-color: var(--color-zinc-900) !important;
    }

    .flatpickr-am-pm:hover,
    .flatpickr-am-pm:focus,
    .flatpickr-am-pm:active,
    .flatpickr-time input:hover,
    .flatpickr-time input:focus {
      background-color: var(--color-zinc-800) !important;
    }

    .flatpickr-day:hover {
      background-color: var(--color-zinc-800) !important;
      border-color: var(--color-zinc-800) !important;
    }
  }

  .flatpickr-day.today {
    border-color: transparent !important;
  }

  .flatpickr-day.selected {
    @apply bg-accent! border-accent!;
  }

  .flatpickr-prev-month:hover svg,
  .flatpickr-next-month:hover svg {
    fill: var(--color-accent) !important;
  }
}
