{% from "components/side-panel-checkbox.html" import side_panel_checkbox %}
{% from "components/side-panel.html" import side_panel %}
{% from "components/text-button.html" import text_button %}
{% from "components/container.html" import container %}
{% extends "base.html" %}

<!-- Page title -->
{% block title %}
  {{ current_system.name }}
  Viewer
{% endblock %}

<!-- System dropdown reference -->
{% block system_name %}
  {{ current_system.name }}
  Viewer
{% endblock %}

{% block content %}
  <!-- prettier-ignore-start -->
  <script id="simulation-state" type="application/json">{{ sim_state | tojson }}</script>
  <!-- prettier-ignore-end -->

  <!-- Simulation content (fixed position) -->
  <canvas
    id="simulation-canvas"
    data-current-system="{{ current_system.name }}"
    class="pointer-events-auto fixed inset-0 z-0 h-screen w-screen"
  ></canvas>

  <!-- Object information panel (absolute position) -->
  <div class="absolute top-1/2 right-0 z-10 -translate-y-1/2">
    {% include "components/object-information-panel.html" %}
  </div>

  <!-- Controls at top -->
  <div class="flex">
    <div>{% include "components/system-picker.html" %}</div>

    <div class="ml-auto">{% include "components/toolbar.html" %}</div>
  </div>

  <!-- Side panels -->
  <div class="flex min-h-0 w-full flex-1 items-end gap-3">
    <!-- Left sidebar -->
    <div class="flex h-full min-h-0 w-48 flex-col justify-end gap-2">
      {% include "templates/objects-panel.html" %}
      {% include "templates/view-settings-panel.html" %}
    </div>

    <!-- RHS controls -->
    <div class="z-10 ml-auto flex flex-col items-end gap-2">
      <!-- Grid scale indicator -->
      <p id="grid-scale-text" class="text-secondary pr-2 text-sm">AU/square</p>

      {% call container(style="flex gap-2 p-2") %}
        <!-- Compare to solar system button -->
        {% if current_system.name != "Solar System" %}
          {{
            text_button(
              "Compare to Solar System",
              button_id="compare-to-solar-system-button",
              on_click_events=["sim:compare_to_solar_system"]
            )
          }}
        {% endif %}

        <!-- Reset view button -->
        {{
          text_button(
            "Reset view",
            on_click_events=["sim:reset_view"]
          )
        }}
      {% endcall %}
    </div>
  </div>

  <!-- Playback controls at bottom -->
  {% include "components/simulation-playback-controls.html" %}
{% endblock %}

<!-- Scripts block -->
{% block scripts %}
  <script src="/src/flatpickr/flatpickr.min.js"></script>

  <script
    type="module"
    src="/src/events/triggers/sharedTriggers.js"
    defer
  ></script>
  <script
    type="module"
    src="/src/events/triggers/settingsTriggers.js"
    defer
  ></script>
  <script
    type="module"
    src="/src/controllers/settingsController.js"
    defer
  ></script>
  <script
    type="module"
    src="/src/events/triggers/simulationTriggers.js"
    defer
  ></script>
  <script
    type="module"
    src="/src/controllers/simulationRendererController.js"
    defer
  ></script>
  <script
    type="module"
    src="/src/controllers/simulationStateController.js"
    defer
  ></script>
  <script type="module" src="/src/ui/simulationControls.js" defer></script>
  <script type="module" src="/src/ui/toolbar.js" defer></script>
  <script type="module" src="/src/ui/simulationCalendar.js" defer></script>
  <script
    type="module"
    src="/src/ui/components/object-information-panel.js"
    defer
  ></script>
  <script
    type="module"
    src="/src/events/triggers/object-information-panel-triggers.js"
    defer
  ></script>
  <script type="module" src="/src/ui/templates/objects-panel.js" defer></script>
  <script
    type="module"
    src="/src/ui/templates/view-settings-panel.js"
    defer
  ></script>
{% endblock %}
