{% extends "base.html" %}

<!-- Page title -->
{% block title %}
  {{ current_system.name }}
  Viewer
{% endblock %}

{% block content %}
  <!-- Simulation content-->
  <canvas
    id="simulation-canvas"
    data-current-system="{{ current_system.name }}"
    class="pointer-events-auto absolute inset-0 z-0 h-full w-full"
  ></canvas>

  <!-- LHS sidebar settings ('Objects', 'View settings') -->
  {% include "components/sidebar.html" %}

  <!-- Simulation playback controls -->
  {% include "components/simulation-playback-controls.html" %}
{% endblock %}

<!-- Scripts block -->
{% block scripts %}
  <script
    type="module"
    src="/src/events/triggers/sharedTriggers.js"
    defer
  ></script>
  <script
    type="module"
    src="/src/events/triggers/settingsTriggers.js"
    defer
  ></script>
  <script
    type="module"
    src="/src/events/triggers/simulationTriggers.js"
    defer
  ></script>
  <script
    type="module"
    src="/src/rendering/simulationManager.js"
    defer
  ></script>
  <script type="module" src="/src/ui/toolbar.js" defer></script>
  <script type="module" src="/src/ui/simulationControls.js" defer></script>
{% endblock %}
