{%
  macro button_with_tooltip(
    tooltip_text,
    svg_path,
    button_id=None,
    tooltip_id=None,
    svg_path_id=None,
    tooltip_position="below",
    tooltip_align="center",
    svg_size=7,
    on_click_events=[],
    repeat_event_on_hold=false,
    repeat_period_ms=50,
    repeat_delay_ms=300
  )
%}
  <div
    class="group relative z-30 inline-flex h-fit w-fit rounded-md"
    data-button-type
    data-allow-repeat="{{ repeat_event_on_hold }}"
    data-repeat-period-ms="{{ repeat_period_ms }}"
    data-on-click-events="{{ on_click_events | tojson | forceescape }}"
    data-repeat-delay-ms="{{ repeat_delay_ms }}"
  >
    <button
      id="{{ button_id }}"
      class="control-no-background clickable"
      data-button
    >
      <svg class="size-{{ svg_size }}" viewBox="0 0 24 24">
        <path id="{{ svg_path_id }}" d="{{ svg_path }}" />
      </svg>
    </button>

    {%
      set tooltip_positions = {
        "above": "top-0 -mt-2 -translate-y-full",
        "below": "top-full mt-2"
      }
    %}

    {%
      set tooltip_aligns = {
        "center": "left-1/2 -translate-x-1/2",
        "right": "right-0"
      }
    %}

    {% set shortcut_event = on_click_events | select("in", shortcuts) | first %}
    {% set shortcut = shortcuts[shortcut_event] if shortcut_event else none %}

    <!-- Tooltip -->
    <div
      class="{{ tooltip_positions[tooltip_position] }} {{ tooltip_aligns[tooltip_align] }} bordered-light control text-secondary pointer-events-none absolute block px-2 text-center text-nowrap opacity-0 group-hover:opacity-100"
    >
      <span id="{{ tooltip_id }}">{{ tooltip_text }}</span>{% if shortcut %} ({{ shortcut.label }}){% endif %}
    </div>
  </div>
{% endmacro %}
