{% from "components/overlay.html" import overlay %}
{% from "components/text-button.html" import text_button %}

{%
  call overlay(
    "confirm-reset-settings-overlay",
    "Reset all settings",

    open_overlay_event="settings:open_reset_settings_menu",
    close_overlay_event="settings:close_reset_settings_menu"
  )
%}
  <div>
    <p>Are you sure you want to reset all settings to defaults?</p>
    <br />
    <p>
      This will reset all general and accessibility settings, as well as all
      simulation-related settings!
    </p>
  </div>

  <!-- Reset view button -->
  <div class="flex justify-end gap-3">
    {{
      text_button(
        button_text="Cancel",
        on_click_event_name="settings:close_reset_settings_menu"
      )
    }}

    <!-- TODO: button styling (style red) -->
    <!-- TODO: add support for multiple on-click events -->
    {{
      text_button(
        button_text="Reset all settings",
        on_click_event_name="settings:close_reset_settings_menu"
      )
    }}
  </div>
{% endcall %}
