{%
  macro input_with_tooltip(
    tooltip_text,
    tooltip_id=None,
    tooltip_position="above",
    tooltip_align="center"
  )
%}
  <div class="group clickable relative z-30 inline-flex h-fit w-fit rounded-md">
    {{ caller() }}
    {%
      set tooltip_positions = {
        "above": "top-0 -mt-2 -translate-y-full",
        "below": "top-full mt-2"
      }
    %}

    {%
      set tooltip_aligns = {
        "center": "left-1/2 -translate-x-1/2",
        "right": "right-0"
      }
    %}

    <!-- Tooltip -->
    <div
      id="{{ tooltip_id }}"
      class="{{ tooltip_positions[tooltip_position] }} {{ tooltip_aligns[tooltip_align] }} bordered-light control text-secondary pointer-events-none absolute block px-2 text-center text-nowrap opacity-0 group-hover:opacity-100"
    >
      {{ tooltip_text }}
    </div>
  </div>
{% endmacro %}
