{% from "components/container.html" import container %}
{% from "components/button-with-tooltip.html" import button_with_tooltip %}

{%
  macro data_field(
    label_text=None,
    field_name=None,
    unit_text=None
  )
%}
  <div data-field class="contents">
    <div>
      {% if label_text %}
        <span class="text-secondary inline text-xs">{{ label_text }}</span>
      {% endif %}
    </div>

    <div>
      {% if field_name %}
        <span class="inline" data-{{ field_name }}></span>
      {% endif %}

      {% if unit_text %}
        <span class="inline">{{ unit_text }}</span>
      {% endif %}
    </div>
  </div>
{% endmacro %}

{% call container(width="w-48", style="p-4", display="hidden") %}
  <!-- Object information -->
  <div
    id="object-information-panel"
    class="w-48 tabular-nums"
    data-systems="{{ systems | tojson | forceescape }}"
    data-current-system="{{ current_system | tojson | forceescape }}"
  >
    <div class="mb-3 flex w-full items-start">
      <div class="flex">
        <!-- Object name -->
        <strong class="block" data-object-name></strong>

        <!-- Object type -->
        <em data-object-type class="text-secondary text-xs"></em>
      </div>

      <!-- Close button -->
      <div class="-m-1 ml-auto">
        {{
          button_with_tooltip(
            tooltip_text="Close",
            svg_path="M6.4 19L5 17.6l5.6-5.6L5 6.4L6.4 5l5.6 5.6L17.6 5L19 6.4L13.4 12l5.6 5.6l-1.4 1.4l-5.6-5.6z",
            on_click_events=["sim:close_object_info"],
            tooltip_position="above"
          )
        }}
      </div>
    </div>

    <div class="grid grid-cols-[max-content_1fr] gap-x-2 text-sm">
      {{ data_field("Mass", "object-mass", "kg") }}
      {{ data_field("Radius", "object-radius", "m") }}
      {{ data_field("Avg. temp.", "object-average-temperature", "K") }}
    </div>
  </div>
{% endcall %}
