{% from "components/container.html" import container %}

{% call container(width="w-48") %}
  <!-- Object information -->
  <div
    id="object-information-panel"
    class="hidden"
    data-current-system="{{ current_system | tojson | forceescape }}"
  >
    <h2 data-object-name>Temp</h2>

    <div class="block">
      <span class="inline">Mass</span>
      <span class="inline" data-object-mass>-</span>
      <span class="inline">kg</span>
    </div>

    <div class="block">
      <span class="inline">Radius</span>
      <span class="inline" data-object-radius>-</span>
      <span class="inline">m</span>
    </div>

    <div class="block">
      <span class="inline">Avg. temp.</span>
      <span class="inline" data-object-average-temperature>-</span>
      <span class="inline">K</span>
    </div>
  </div>

  <!-- Placeholder when no object is selected -->
  <div id="object-information-panel-no-object-selected-view">
    <em class="text-secondary">Click an object to view its details here </em>
  </div>
{% endcall %}
