{% from "components/container.html" import container %}

{%
  macro data_field(
    label_text=None,
    field_name=None,
    unit_text=None
  )
%}
  <div class="block">
    {% if label_text %}
      <span class="inline">{{ label_text }}</span>
    {% endif %}

    {% if field_name %}
      <span class="inline" data-{{ field_name }}></span>
    {% endif %}

    {% if unit_text %}
      <span class="inline">{{ unit_text }}</span>
    {% endif %}
  </div>
{% endmacro %}

{% call container(width="w-48") %}
  <!-- Object information -->
  <div
    id="object-information-panel"
    class="hidden"
    data-current-system="{{ current_system | tojson | forceescape }}"
  >
    {{ data_field(None, "object-name", None) }}
    {{ data_field("Mass", "object-mass", "kg") }}
    {{ data_field("Radius", "object-radius", "m") }}
    {{ data_field("Avg. temp.", "object-average-temperature", "K") }}
  </div>

  <!-- Placeholder when no object is selected -->
  <div id="object-information-panel-no-object-selected-view">
    <em class="text-secondary">Click an object to view its details here </em>
  </div>
{% endcall %}
