{% from "components/button-with-tooltip.html" import button_with_tooltip %}

{%
  macro overlay(
    id,
    title,
    toggle_event_name=None,
    open_overlay_event=None,
    close_overlay_event=None
  )
%}
  <div
    id="{{ id }}"
    class="pointer-events-none fixed inset-0 z-40 flex h-full w-full items-center justify-center bg-white/30 opacity-0 backdrop-blur-sm transition-opacity duration-200 ease-in-out dark:bg-zinc-900/30"
    data-overlay
    data-toggle-event-name="{{ toggle_event_name }}"
    data-open-overlay-event="{{ open_overlay_event }}"
    data-close-overlay-event="{{ close_overlay_event }}"
  >
    <!-- Settings menu itself -->
    <div
      class="shadowed bordered-light w-full max-w-prose rounded-2xl bg-white p-10 dark:bg-zinc-950"
    >
      <!-- 'Settings' heading and close button -->
      <div class="mb-8 flex items-start">
        <h1 class="flex-1 text-2xl font-bold">{{ title }}</h1>

        <!-- Close button -->
        {{
          button_with_tooltip(
            tooltip_text="Close",
            svg_path="M6.4 19L5 17.6l5.6-5.6L5 6.4L6.4 5l5.6 5.6L17.6 5L19 6.4L13.4 12l5.6 5.6l-1.4 1.4l-5.6-5.6z",
            on_click_events=[close_overlay_event]
          )
        }}
      </div>

      <!-- Actual settings -->
      <div class="flex flex-col gap-8">{{ caller() }}</div>
    </div>
  </div>
{% endmacro %}
