{% from "components/overlay.html" import overlay %}
{% from "components/settings-option.html" import settings_option %}

{%
  call overlay(
    "settings-overlay",
    "Settings",
    toggle_event_name="settings:menu_toggle",
    buttons={
      "settings-button": "open"
    }
  )
%}
  <!-- General settings -->
  <div class="flex flex-col gap-2">
    <div class="flex items-center gap-2">
      <svg class="size-6" viewBox="0 0 24 24">
        <!-- Icon from Google Material Icons by Material Design Authors - https://github.com/material-icons/material-icons/blob/master/LICENSE -->
        <path
          d="M19.5 12c0-.23-.01-.45-.03-.68l1.86-1.41c.4-.3.51-.86.26-1.3l-1.87-3.23a.987.987 0 0 0-1.25-.42l-2.15.91c-.37-.26-.76-.49-1.17-.68l-.29-2.31c-.06-.5-.49-.88-.99-.88h-3.73c-.51 0-.94.38-1 .88l-.29 2.31c-.41.19-.8.42-1.17.68l-2.15-.91c-.46-.2-1-.02-1.25.42L2.41 8.62c-.25.44-.14.99.26 1.3l1.86 1.41a7.3 7.3 0 0 0 0 1.35l-1.86 1.41c-.4.3-.51.86-.26 1.3l1.87 3.23c.25.44.79.62 1.25.42l2.15-.91c.37.26.76.49 1.17.68l.29 2.31c.06.5.49.88.99.88h3.73c.5 0 .93-.38.99-.88l.29-2.31c.41-.19.8-.42 1.17-.68l2.15.91c.46.2 1 .02 1.25-.42l1.87-3.23c.25-.44.14-.99-.26-1.3l-1.86-1.41c.03-.23.04-.45.04-.68m-7.46 3.5c-1.93 0-3.5-1.57-3.5-3.5s1.57-3.5 3.5-3.5s3.5 1.57 3.5 3.5s-1.57 3.5-3.5 3.5"
        />
      </svg>

      <h2 class="text-lg font-bold">General</h2>
    </div>

    {{
      settings_option(
        label_text="Time zone",
        initial_selected=settings.timeZone,
        options=settings_schema.timeZone.options,
        on_change_event_name="settings:time_zone_select"
      )
    }}
  </div>

  <!-- Accessibility settings -->
  <div class="flex flex-col gap-2">
    <div class="flex items-center gap-2">
      <svg class="size-6" viewBox="0 0 24 24">
        <!-- Icon from Google Material Icons by Material Design Authors - https://github.com/material-icons/material-icons/blob/master/LICENSE -->
        <path
          d="M10.588 5.413Q10 4.825 10 4t.588-1.412T12 2t1.413.588T14 4t-.587 1.413T12 6t-1.412-.587M9 21V9q-1.225-.1-2.475-.275t-2.45-.45q-.425-.1-.687-.475T3.25 7t.525-.625t.85-.1q1.75.375 3.638.55T12 7t3.738-.175t3.637-.55q.45-.1.85.1T20.75 7t-.137.8t-.688.475q-1.2.275-2.45.45T15 9v12q0 .425-.287.713T14 22t-.712-.288T13 21v-5h-2v5q0 .425-.288.713T10 22t-.712-.288T9 21"
        />
      </svg>

      <h2 class="text-lg font-bold">Accessibility</h2>
    </div>

    {{
      settings_option(
        label_text="Font",
        initial_selected=settings.font,
        options=settings_schema.font.options,
        on_change_event_name="settings:font_select"
      )
    }}

    {{
      settings_option(
        label_text="Text size",
        initial_selected=settings.textSize,
        options=settings_schema.textSize.options,
        on_change_event_name="settings:text_size_select"
      )
    }}

    {{
      settings_option(
        label_text="Object marker size",
        initial_selected=settings.objectMarkerSize,
        options=settings_schema.objectMarkerSize.options,
        on_change_event_name="settings:object_marker_size_select"
      )
    }}

    {{
      settings_option(
        label_text="Orbit lines",
        initial_selected=settings.orbitLines,
        options=settings_schema.orbitLines.options,
        on_change_event_name="settings:orbit_lines_select"
      )
    }}
  </div>

  <!-- Restore defaults button -->
  <button id="reset-settings-button" class="self-end">
    <span class="text-sm">Reset all settings to defaults</span>
  </button>
{% endcall %}
