{% from "components/side-panel-checkbox.html" import side_panel_checkbox %}
{% from "components/side-panel.html" import side_panel %}
{% from "components/text-button.html" import text_button %}
{% from "components/container.html" import container %}

<div class="flex min-h-0 flex-1 items-end gap-3">
  <!-- Left sidebar -->
  <div class="flex h-full min-h-0 w-48 flex-col gap-2">
    <!-- Spacer -->
    <div class="flex-1"></div>

    <!-- Objects panel -->
    {%
      call side_panel(
        panel_title_text="Objects",
        reset_button_id="reset-objects",

        toggle_event="sim:objects_panel_toggle"
      )
    %}
      <!-- Objects that are hidden for the current simulation -->
      {% set hidden = sim_state.get("hiddenObjects", {}).get(current_system.name, []) %}

      {% for obj in objects %}
        {% set colours = current_system.get("objects").get(obj).get("colour") %}
        {% set initial_colour = colours.get("dark") if settings.darkMode else colours.get("light") %}

        {%
          call side_panel_checkbox(
            is_checked_initially=(obj not in hidden),
            label_text=obj,
            data_attributes={ "object": obj }
          )
        %}
          {% set type = current_system.get("objects").get(obj).get("type") %}

          <div
            data-dark-mode-colour="{{ colours.get('dark') }}"
            data-light-mode-colour="{{ colours.get('light') }}"
            class="ml-auto"
          >
            {% if type != "star" %}
              <div
                class="h-3 w-3 rounded-full"
                style="background-color: {{ initial_colour }};"
                data-colour-indicator
                title="{{ type | capitalize }}"
              ></div>
            {% endif %}

            {% if type == "star" %}
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="size-5.5 translate-x-[0.3rem]"
                viewBox="0 0 24 24"
                data-colour-indicator
                fill="{{ initial_colour }}"
              >
                <title>{{ type | capitalize }}</title>
                <path
                  d="M11.288 4.713Q11 4.425 11 4V2q0-.425.288-.712T12 1t.713.288T13 2v2q0 .425-.288.713T12 5t-.712-.288M16.95 7.05q-.275-.275-.275-.687t.275-.713l1.4-1.425q.3-.3.712-.3t.713.3q.275.275.275.7t-.275.7L18.35 7.05q-.275.275-.7.275t-.7-.275M20 13q-.425 0-.713-.288T19 12t.288-.712T20 11h2q.425 0 .713.288T23 12t-.288.713T22 13zm-8.712 9.713Q11 22.425 11 22v-2q0-.425.288-.712T12 19t.713.288T13 20v2q0 .425-.288.713T12 23t-.712-.288M5.65 7.05l-1.425-1.4q-.3-.3-.3-.725t.3-.7q.275-.275.7-.275t.7.275L7.05 5.65q.275.275.275.7t-.275.7q-.3.275-.7.275t-.7-.275m12.7 12.725l-1.4-1.425q-.275-.3-.275-.712t.275-.688t.688-.275t.712.275l1.425 1.4q.3.275.288.7t-.288.725q-.3.3-.725.3t-.7-.3M2 13q-.425 0-.712-.288T1 12t.288-.712T2 11h2q.425 0 .713.288T5 12t-.288.713T4 13zm2.225 6.775q-.275-.275-.275-.7t.275-.7L5.65 16.95q.275-.275.687-.275t.713.275q.3.3.3.713t-.3.712l-1.4 1.4q-.3.3-.725.3t-.7-.3M7.75 16.25Q6 14.5 6 12t1.75-4.25T12 6t4.25 1.75T18 12t-1.75 4.25T12 18t-4.25-1.75"
                />
              </svg>
            {% endif %}
          </div>
        {% endcall %}
      {% endfor %}
    {% endcall %}

    <!-- View settings panel -->
    {%
      call side_panel(
        panel_title_text="View settings",
        reset_button_id="reset-view-settings",

        toggle_event="sim:view_settings_panel_toggle"
      )
    %}
      {%
        call side_panel_checkbox(
          input_id="habitable-zone-input",
          is_checked_initially=sim_state.habitableZoneShown,
          label_text="Habitable zone",
          data_attributes={ "setting": "habitable-zone" },
          toggle_event="sim:habitable_zone_toggle"
        )
      %}
      {% endcall %}

      {%
        call side_panel_checkbox(
          input_id="orbits-input",
          is_checked_initially=sim_state.orbitsShown,
          label_text="Orbits",
          data_attributes={ "setting": "orbits" },
          toggle_event="sim:orbits_toggle"
        )
      %}
      {% endcall %}

      {%
        call side_panel_checkbox(
          input_id="reference-grid-input",
          is_checked_initially=sim_state.referenceGridShown,
          label_text="Reference grid",
          data_attributes={ "setting": "reference-grid" },
          toggle_event="sim:reference_grid_toggle"
        )
      %}
      {% endcall %}

      {%
        call side_panel_checkbox(
          input_id="labels-input",
          is_checked_initially=sim_state.labelsShown,
          label_text="Labels",
          data_attributes={ "setting": "labels" },
          toggle_event="sim:labels_toggle"
        )
      %}
      {% endcall %}
    {% endcall %}
  </div>

  <!-- Spacer -->
  <div class="flex-1"></div>

  <div class="relative flex h-full flex-col items-end justify-end gap-2">
    {% call container(style="flex gap-2 p-2") %}
      <!-- Compare to solar system button -->
      {% if current_system.name != "Solar System" %}
        {{
          text_button(
            "Compare to Solar System",
            button_id="compare-to-solar-system-button",
            on_click_events=["sim:compare_to_solar_system"]
          )
        }}
      {% endif %}

      <!-- Reset view button -->
      {{
        text_button(
          "Reset view",
          on_click_events=["sim:reset_view"]
        )
      }}
    {% endcall %}
  </div>
</div>
