{%
  macro side_panel_checkbox(
    input_id,
    is_checked_initially,
    label_text,
    data_attributes={},
    toggle_event=None,
    initial_colour="transparent",
    dark_mode_colour="transparent",
    light_mode_colour="transparent"
  )
%}
  <label
    class="flex items-center gap-2"
    data-side-panel-checkbox
    data-toggle-event="{{ toggle_event }}"
    data-dark-mode-colour="{{ dark_mode_colour }}"
    data-light-mode-colour="{{ light_mode_colour }}"
  >
    <input
      type="checkbox"
      id="{{ input_id }}"
      {% for name, value in data_attributes.items() %}
        data-{{ name }}="{{ value }}"
      {% endfor %}
      {{ "checked" if is_checked_initially }}
    />
    <span>{{ label_text }}</span>
    <div
      class="ml-auto h-2 w-2 rounded-sm"
      style="background-color: {{ initial_colour }};"
      data-colour-indicator
    ></div>
  </label>
{% endmacro %}
