{% from "components/side-panel-checkbox.html" import side_panel_checkbox %}
{% from "components/side-panel.html" import side_panel %}
{% from "components/text-button.html" import text_button %}
{% from "components/side-panel-checkbox.html" import side_panel_checkbox %}

<div class="flex min-h-0 flex-1 items-end gap-3 px-6 pt-6">
  <!-- Left sidebar -->
  <div class="flex h-full min-h-0 w-48 flex-col gap-2">
    <!-- Spacer -->
    <div class="flex-1"></div>

    <!-- Objects panel -->
    {%
      call side_panel(
        panel_button_id="objects-button",
        panel_title_text="Objects",
        toggles_div_id="objects-toggles",
        reset_button_id="reset-objects"
      )
    %}
      <!-- Objects that are hidden for the current simulation -->
      {% set hidden = sim_state.get("hiddenObjects", {}).get(current_system.name, []) %}

      {% for obj in objects %}
        {{
          side_panel_checkbox(
          is_checked_initially=(obj not in hidden),
          label_text=obj,
          data_attributes={ "object": obj }
          )
        }}
      {% endfor %}
    {% endcall %}

    <!-- View settings panel -->
    {%
      call side_panel(
        panel_button_id="view-settings-button",
        panel_title_text="View settings",
        reset_button_id="reset-view-settings"
      )
    %}
      {{
        side_panel_checkbox(
          input_id="habitable-zone-input",
          is_checked_initially=sim_state.habitableZoneShown,
          label_text="Habitable zone",
          data_attributes={ "setting": "habitable-zone" }
        )
      }}

      {{
        side_panel_checkbox(
          input_id="orbits-input",
          is_checked_initially=sim_state.orbitsShown,
          label_text="Orbits",
          data_attributes={ "setting": "orbits" }
        )
      }}

      {{
        side_panel_checkbox(
          input_id="reference-grid-input",
          is_checked_initially=sim_state.referenceGridShown,
          label_text="Reference grid",
          data_attributes={ "setting": "reference-grid" }
        )
      }}

      {{
        side_panel_checkbox(
          input_id="labels-input",
          is_checked_initially=sim_state.labelsShown,
          label_text="Labels",
          data_attributes={ "setting": "labels" }
        )
      }}
    {% endcall %}
  </div>

  <!-- Spacer -->
  <div class="flex-1"></div>

  <!-- Reset view button -->
  {{ text_button("reset-view-button", "Reset view") }}

  <!-- Compare to solar system button -->
  {% if current_system.name != "Solar System" %}
    {{ text_button("compare-to-solar-system-button", "Compare to Solar System") }}
  {% endif %}
</div>
