{%
  macro side_panel(
    panel_button_id,
    panel_title_text,
    panel_content_id,
    toggles_div_id,
    reset_button_id
  )
%}
  <div
    class="relative z-10 flex min-h-0 flex-col rounded-md bg-white p-2 outline-1 dark:bg-black dark:outline-zinc-500"
    data-panel
  >
    <!-- Panel button -->
    <button
      id="{{ panel_button_id }}"
      class="flex w-full items-center font-bold"
      data-panel-button
    >
      <span class="flex-1 text-left">{{ panel_title_text }}</span>

      <!-- Show icon -->
      <svg data-panel-show-icon class="size-7" viewBox="0 0 24 24">
        <!-- Icon from Google Material Icons by Material Design Authors - https://github.com/material-icons/material-icons/blob/master/LICENSE -->
        <path
          d="M11 13H6q-.425 0-.712-.288T5 12t.288-.712T6 11h5V6q0-.425.288-.712T12 5t.713.288T13 6v5h5q.425 0 .713.288T19 12t-.288.713T18 13h-5v5q0 .425-.288.713T12 19t-.712-.288T11 18z"
        />
      </svg>

      <!-- Hide icon -->
      <svg data-panel-hide-icon class="hidden size-7" viewBox="0 0 24 24">
        <!-- Icon from Google Material Icons by Material Design Authors - https://github.com/material-icons/material-icons/blob/master/LICENSE -->
        <path
          d="M6 13q-.425 0-.712-.288T5 12t.288-.712T6 11h12q.425 0 .713.288T19 12t-.288.713T18 13z"
        />
      </svg>
    </button>

    <!-- Checkboxes -->
    <div
      id="{{ panel_content_id }}"
      class="grid grid-cols-1 grid-rows-[0fr] overflow-hidden transition-[grid-template-rows] duration-300 ease-in-out"
    >
      <div
        id="{{ toggles_div_id }}"
        class="flex min-h-0 flex-col overflow-hidden"
      >
        <!-- Content -->
        <div class="min-h-0 flex-1 overflow-y-auto">{{ caller() }}</div>

        <!-- Restore defaults button -->
        <button id="{{ reset_button_id }}" class="self-end overflow-hidden">
          <span class="text-sm">Reset to defaults</span>
        </button>
      </div>
    </div>
  </div>
{% endmacro %}
