{% from "components/button-with-tooltip.html" import button_with_tooltip %}
{% from "components/text-button.html" import text_button %}
{% from "components/container.html" import container %}

<div class="z-10 flex flex-col bg-transparent">
  <!-- Simulation timestamp (narrow screens) -->
  <span class="self-center text-sm sm:hidden">
    <input
      type="datetime-local"
      class="calendar tabular-nums"
      name="calendar"
      value="{{ sim_date }}"
      onkeydown="return false;"
    />
  </span>

  <div class="grid w-full grid-cols-3 items-stretch">
    <!-- Date picker / simulation time cluster -->
    <div class="justify-self-start">
      {% call container() %}
        <div class="flex items-center gap-3 p-2">
          <!-- 'Now' button (to reset time to current time) -->
          {{
            text_button(
              button_text="Now",
              on_click_events=["sim:set_time_to_now"]
            )
          }}

          <!-- Simulation timestamp / date picker -->
          <div class="text-left max-sm:hidden">
            <p class="text-lg">
              <input
                type="datetime-local"
                class="calendar tabular-nums"
                name="calendar"
                value="{{ sim_date }}"
                onkeydown="return false;"
              />
            </p>
            <p
              id="elapsed-days"
              class="text-sm tabular-nums dark:text-zinc-400"
            >
              {{ elapsed_days_text }}
            </p>
          </div>
        </div>
      {% endcall %}
    </div>

    <!-- Playback controls cluster -->
    <div class="self-end justify-self-center">
      {% call container() %}
        <!-- Step back button -->
        {{
          button_with_tooltip(
            tooltip_text="Step back",
            svg_path="M7 6c.55 0 1 .45 1 1v10c0 .55-.45 1-1 1s-1-.45-1-1V7c0-.55.45-1 1-1m3.66 6.82l5.77 4.07c.66.47 1.58-.01 1.58-.82V7.93c0-.81-.91-1.28-1.58-.82l-5.77 4.07a1 1 0 0 0 0 1.64",
            tooltip_position="above",
            svg_size=10,
            repeat_event_on_hold=true,

            on_click_events=["sim:step_back"]
          )
        }}

        <!-- Play/pause button -->
        {{
          button_with_tooltip(
            tooltip_id="play-pause-tooltip",
            svg_path_id="play-pause-svg-path",
            tooltip_position="above",
            svg_size=10,
            tooltip_text="Play",
            svg_path="M8 6.82v10.36c0 .79.87 1.27 1.54.84l8.14-5.18a1 1 0 0 0 0-1.69L9.54 5.98A.998.998 0 0 0 8 6.82",

            on_click_events=["sim:toggle"]
          )
        }}

        <!-- Step forward button -->
        {{
          button_with_tooltip(
            tooltip_text="Step forward",
            svg_path="m7.58 16.89l5.77-4.07c.56-.4.56-1.24 0-1.63L7.58 7.11C6.91 6.65 6 7.12 6 7.93v8.14c0 .81.91 1.28 1.58.82M16 7v10c0 .55.45 1 1 1s1-.45 1-1V7c0-.55-.45-1-1-1s-1 .45-1 1",
            tooltip_position="above",
            svg_size=10,
            repeat_event_on_hold=true,

            on_click_events=["sim:step_forward"]
          )
        }}
      {% endcall %}
    </div>

    <!-- Speed adjustment cluster -->
    <div class="justify-self-end max-sm:hidden">
      {% call container(style="h-full") %}
        <!-- Simulation speed adjuster -->
        <div class="flex items-center gap-2 p-2">
          <div class="control bordered flex items-center gap-1 p-0">
            <!-- Decrease speed button -->
            {{
              button_with_tooltip(
                tooltip_text="Decrease speed",
                svg_path="M18 12.998H6a1 1 0 0 1 0-2h12a1 1 0 0 1 0 2",
                button_id="decrease-speed-button",
                tooltip_position="above",
                on_click_events=[],
                repeat_event_on_hold=true
              )
            }}

            <!-- Simulation speed input -->
            <input
              id="speed-adjuster"
              type="text"
              inputmode="numeric"
              class="w-[4ch] text-center tabular-nums"
              value="{{ sim_speed }}"
            />

            <!-- Increase speed button -->
            {{
              button_with_tooltip(
                tooltip_text="Increase speed",
                svg_path="M18 12.998h-5v5a1 1 0 0 1-2 0v-5H6a1 1 0 0 1 0-2h5v-5a1 1 0 0 1 2 0v5h5a1 1 0 0 1 0 2",
                button_id="increase-speed-button",
                tooltip_position="above",
                on_click_events=[],
                repeat_event_on_hold=true
              )
            }}
          </div>
          <select id="speed-unit-selector" class="control bordered w-18">
            {% for option in sim_state_schema.simulationSpeedUnit.options %}
              <option
                value="{{ option.value }}"
                {{ "selected" if option.value == sim_speed_unit }}
              >
                {{ option.label }}
              </option>
            {% endfor %}
          </select>

          <p class="text-secondary pr-3">per second</p>
        </div>
      {% endcall %}
    </div>

    <!-- Simulation speed adjustor (small; only shown on narrow screens) -->
    <button
      class="justify-self-end rounded-md p-1 hover:bg-zinc-100 hover:outline-1 hover:outline-zinc-900 sm:hidden dark:hover:bg-zinc-900 dark:hover:outline-zinc-500"
    >
      <svg class="size-10" viewBox="0 0 24 24">
        <!-- Icon from Google Material Icons by Material Design Authors - https://github.com/material-icons/material-icons/blob/master/LICENSE -->
        <path
          d="M13.55 15.5q.65-.65.613-1.525T13.4 12.6l-3.15-2.1L7.1 8.4q-.35-.225-.65.063t-.075.637q1.05 1.575 2.112 3.15T10.6 15.4q.475.725 1.375.75t1.575-.65M5.125 20q-.55 0-1.012-.238t-.738-.712q-.7-1.2-1.05-2.512t-.35-2.688q.025-2 .85-3.787t2.2-3.138T8.2 4.788T12 4q2.075 0 3.888.788t3.174 2.15t2.15 3.175T22 14q0 1.35-.35 2.625t-1 2.425q-.275.475-.75.713t-1 .237z"
        />
      </svg>
    </button>
  </div>
</div>
