{% from "components/container.html" import container %}

<div class="z-20 flex gap-4">
  <!-- OPIS 'O' logo -->
  {% call container(style="self-start") %}
    <div class="flex items-center">
      <a href="/" class="relative z-30 mt-1 block max-sm:hidden">
        <svg
          viewBox="0 0 150 166.27"
          class="fill-primary block h-12 w-auto -translate-y-1 p-1"
        >
          <path
            d="M128.11,42.14c-13.86-12.43-28-14.88-43.6-14.88a94.57,94.57,0,0,0-16.35,1.36L77.51,0,50.56,27.16,15.1,15.57,41.85,42.11l-11.41,35L56.33,51,92.07,62.71l-24.13-24a31.27,31.27,0,0,1,14.41-2.6c15.82,0,39.37,22.61,32.83,63.86-2.44,15.44-15.31,57.45-50.15,57.45-15.22,0-39.27-16.25-33.51-61.57-7,12.48-16.2,19.8-24.71,18.22A13.87,13.87,0,0,1,0,110.54C.13,131.7,9.61,147.2,19.79,154c13.42,9.22,29.33,12.24,42.33,12.24,29.76,0,47.56-11.3,62.22-26.56,11.88-13.18,18.48-27.5,20.65-41.25C149.11,72.47,140.63,53.44,128.11,42.14Z"
          />
        </svg>
      </a>
    </div>
  {% endcall %}

  <!-- System selector -->
  {% call container() %}
    <div
      id="system-dropdown-wrapper"
      class="relative z-30 items-center rounded-md text-left opacity-100 transition-opacity duration-200 ease-in-out hover:bg-zinc-100 hover:outline-1 hover:outline-zinc-900 dark:hover:bg-zinc-900 dark:hover:outline-zinc-500"
    >
      <button
        id="system-information-button"
        class="flex w-full items-center py-2 text-left"
      >
        <span class="flex-1">
          <h1 class="pl-2 text-3xl font-bold">
            {% if current_system %}
              {{ current_system.name }}
            {% endif %}
          </h1>
        </span>

        <svg class="size-7" viewBox="0 0 24 24">
          <!-- Icon from Google Material Icons by Material Design Authors - https://github.com/material-icons/material-icons/blob/master/LICENSE -->
          <!-- Down arrow -->
          <path
            d="M11.475 14.475L7.85 10.85q-.075-.075-.112-.162T7.7 10.5q0-.2.138-.35T8.2 10h7.6q.225 0 .363.15t.137.35q0 .05-.15.35l-3.625 3.625q-.125.125-.25.175T12 14.7t-.275-.05t-.25-.175"
          />

          <!-- Up arrow -->
          <path
            d="M8.71 12.29L11.3 9.7a.996.996 0 0 1 1.41 0l2.59 2.59c.63.63.18 1.71-.71 1.71H9.41c-.89 0-1.33-1.08-.7-1.71"
            class="hidden"
          />
        </svg>
      </button>

      <div
        id="system-dropdown"
        class="control absolute z-50 grid min-h-0 w-full grid-cols-1 grid-rows-[0fr] overflow-hidden p-0 transition-[grid-template-rows] duration-300 ease-in-out"
      >
        <div class="flex flex-col overflow-hidden">
          <div class="flex flex-col">
            <div class="border-t border-zinc-300 dark:border-zinc-700"></div>
            {% for system in dropdown_systems %}
              <a
                href="/simulation/{{ system.name }}"
                class="block px-2 py-2 pl-2 font-bold hover:bg-zinc-100 active:bg-zinc-200 dark:hover:bg-zinc-900 dark:active:bg-zinc-700"
              >
                {{ system.name }}
              </a>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  {% endcall %}
</div>
