{%
  macro text_button(
    button_text,
    button_id=None,
    on_click_events=[],
    button_styling=None,
    short_button_text=None,
    repeat_event_on_hold=false,
    repeat_period_ms=50,
    repeat_delay_ms=300
  )
%}
  <div
    data-button-type
    data-on-click-events="{{ on_click_events | tojson | forceescape }}"
    data-allow-repeat="{{ repeat_event_on_hold }}"
    data-repeat-period-ms="{{ repeat_period_ms }}"
    data-repeat-delay-ms="{{ repeat_delay_ms }}"
    class="z-10"
  >
    <button
      id="{{ button_id }}"
      class="{{ button_styling }} control bordered clickable px-2"
      data-button
    >
    {% if short_button_text %} 
      <span class="short:hidden">{{ button_text }} </span>
      <span class="hidden short:inline">{{ short_button_text }}</span>
      {% else %}
        {{ button_text }}
      {% endif %}
    </button>
  </div>
{% endmacro %}
